/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-dmg-post-selector {
	background-color: #80808021 !important;


}
.wp-block-create-block-dmg-post-selector p {
	padding:5px !important;
	margin:5px !important;
}
.dmg-read-more::before {
	content: 'Read more: ';
	text-decoration: none;
	color: #000;
}
.dmg-read-more a {
	color: #958080
}
.dmg-post-selector-search{
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 20px;
}

.dmg-post-selector-pagination {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 10px;
}
.components-panel__body ul li {
	cursor: pointer;

	&:hover {
		background-color: #f0f0f0;
	}
}
