/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-dmg-post-selector {
	color: #000;
	font-family:arial;
	padding: 2px;
	width:1150px;
	margin:0 auto;
}

.dmg-read-more {
	a {
		color:#958080;
		text-decoration: underline;
	}
}
